{% extends 'base/base.html' %}
{% load static %}

{% block title %} {% endblock title %}

{% block style %}

{% endblock style %}

{% block content %}
  <div class="password-change">
    {% if form.errors %}
      <p>Please Provide correct credientals</p>
      <form class="" action="" method="post">
        {% csrf_token %}
        <label for="">{{form.old_password.label}}</label><br> {{form.old_password}}<br>
        <label for="">{{form.new_password1.label}}</label><br>{{form.new_password1}}<br>
        <label for="">{{form.new_password2.label}}</label><br>{{form.new_password2}}<br><br>
        <input type="submit" name="" value="Change Password">
      </form>
    {% else %}
      <form class="" action="" method="post">
        {% csrf_token %}
        <label for="">{{form.old_password.label}}</label><br> {{form.old_password}}<br>
        <label for="">{{form.new_password1.label}}</label><br>{{form.new_password1}}<br>
        <label for="">{{form.new_password2.label}}</label><br>{{form.new_password2}}<br><br>
        <input type="submit" name="" value="Change Password">
      </form>
    {% endif %}
  </div>
{% endblock content %}
