{% extends 'base/base.html' %}
{% load static %}

{% block title %}Forgot Password {% endblock title %}

{% block style %}

{% endblock style %}

{% block content %}
  <div class="password_reset_body">
    {% if request.user.is_authenticated %}

    {% else %}
      {% if form.errors %}
        <p>Please Provide current Details</p>
        <form class="" action="" method="post">
          {% csrf_token %}
          <label for="">{{form.email.label}}</label><br>{{form.email}}<br><br>
          <input type="submit" name="" value="Send reset link">
        </form>
      {% else %}
        <form class="" action="" method="post">
          {% csrf_token %}
          <label for="">{{form.email.label}}</label><br>{{form.email}}<br><br>
          <input type="submit" name="" value="Send reset link">
        </form>
      {% endif %}
    {% endif %}
  </div>
{% endblock content %}
