{% extends 'base/base.html' %}
{% load static %}

{% block title %}Enter your new password {% endblock title %}

{% block style %}

{% endblock style %}

{% block content %}
  <div class="new-password">
    {% if request.user.is_authenticated %}
      <p>You are logged in</p>
    {% else %}
      {% if form.errors %}
        <p>Please Enter your credientals correctly.</p>
        <form class="" action="" method="post">
          {% csrf_token %}
          <label for="">{{form.new_password1.label}}</label><br>{{form.new_password1}}
          <label for="">{{form.new_password2.label}}</label><br>{{form.new_password2}}<br><br>
          <input type="submit" name="" value="Set New Password">
        </form>
      {% else %}
        <form class="" action="" method="post">
          {% csrf_token %}
          <label for="">{{form.new_password1.label}}</label><br>{{form.new_password1}}
          <label for="">{{form.new_password2.label}}</label><br>{{form.new_password2}}<br><br>
          <input type="submit" name="" value="Set New Password">
        </form>
      {% endif %}
    {% endif %}
  </div>
{% endblock content %}
